@model hris.Models.karyawan

@{
    ViewBag.Title = "Create";
}

<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><span class="font-weight-semibold">Tambah Karyawan</span></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>

    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a href="@Url.Action("List")" class="breadcrumb-item">Karyawan</a>
                <span class="breadcrumb-item active">Tambah Karyawan</span>
            </div>

            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>

<div class="content">
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal m-t-30" action="@Url.Action("Create","Employee")" method="post">
                @Html.AntiForgeryToken()
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label>User ID</label>
                                @Html.TextBoxFor(m => m.user_id, new { @class = "form-control form-control-sm", Name = "user_id", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label>Nama Lengkap</label>
                                @Html.TextBoxFor(m => m.nama_karyawan, new { @class = "form-control form-control-sm", Name = "nama_karyawan" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label>Inisial</label>
                                @Html.TextBoxFor(m => m.inisial, new { @class = "form-control form-control-sm", Name = "inisial", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="jns_kelamin">Jenis Kelamin</label>
                                <div class="form-group">
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-radio">
                                            @Html.RadioButtonFor(m => m.jenis_kelamin, "Laki-laki", new { id = "jns_kelamin1", Name = "jenis_kelamin", @class = "custom-control-input" })
                                            <label class="custom-control-label">Laki-laki</label>
                                        </div>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <div class="custom-control custom-radio">
                                            @Html.RadioButtonFor(m => m.jenis_kelamin, "Perempuan", new { id = "jns_kelamin2", Name = "jenis_kelamin", @class = "custom-control-input" })
                                            <label class="custom-control-label">Perempuan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label>Email</label>
                                @Html.TextBoxFor(m => m.email, new { @class = "form-control form-control-sm", Name = "email" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label>Tempat Lahir</label>
                                @Html.TextBoxFor(m => m.tempat_lahir, new { @class = "form-control form-control-sm", Name = "tempat_lahir" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="tgl_lahir">Tanggal Lahir</label>
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.tgl_lahir, new { @class = "form-control form-control-sm", Name = "tgl_lahir" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group pt-2">
                                <label class="d-block">Status Perkawinan</label>
                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.status_perkawinan, "Menikah", new { id = "status_perkawinan1", Name = "status_perkawinan", @class = "custom-control-input" })
                                    <label class="custom-control-label" for="status_perkawinan1">Menikah</label>
                                </div>

                                <div class="custom-control custom-radio">
                                    @Html.RadioButtonFor(m => m.status_perkawinan, "Belum Menikah", new { id = "status_perkawinan2", Name = "status_perkawinan", @class = "custom-control-input" })
                                    <label class="custom-control-label" for="status_perkawinan2">Belum Menikah</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label>Agama</label>
                                <select class="form-control form-control-sm select2" name="agama">
                                    <option value="">Pilih</option>
                                    <option value="Islam">Islam</option>
                                    <option value="Kristen">Kristen</option>
                                    <option value="Katholik">Katholik</option>
                                    <option value="Hindu">Hindu</option>
                                    <option value="Budha">Budha</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="telp_rumah">No Telp Rumah</label>
                                @Html.TextBoxFor(m => m.telp_rumah, new { @class = "form-control form-control-sm", Name = "telp_rumah" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="hp">No Hp</label>
                                @Html.TextBoxFor(m => m.hp, new { @class = "form-control form-control-sm", Name = "hp" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="no_ktp">KTP</label>
                                @Html.TextBoxFor(m => m.ktp, new { @class = "form-control form-control-sm", Name = "ktp" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="no_npwp">Kartu Keluarga</label>
                                @Html.TextBoxFor(m => m.kartu_keluarga, new { @class = "form-control form-control-sm", Name = "kartu_keluarga" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="karyawan_id">NPWP</label>
                                @Html.TextBoxFor(m => m.npwp, new { @class = "form-control form-control-sm ", Name = "npwp" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="tempat_lahir">BPJS Kesehatan</label>
                                @Html.TextBoxFor(m => m.bpjs_kesehatan, new { @class = "form-control form-control-sm", Name = "bpjs_kesehatan" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="usia">Usia</label>
                                @Html.TextBoxFor(m => m.usia, new { @class = "form-control form-control-sm", Name = "usia", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for="kel_usia">Kelompok Usia</label>
                                <select class="form-control form-control-sm select2" name="kelompok_usia">
                                    <option value="-1">Pilih</option>
                                    <option value="1">21-25 Years</option>
                                    <option value="2">26-30 Years</option>
                                    <option value="3">31-35 Years</option>
                                    <option value="4">36-40 Years</option>
                                    <option value="5">41-45 Years</option>
                                    <option value="6">46-50 Years</option>
                                    <option value="7">51-55 Years</option>
                                    <option value="8">56 Years<</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="tgl_masuk_kerja">Masuk Kerja</label>
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.tgl_masuk, new { @class = "form-control form-control-sm", Name = "tgl_masuk" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="tgl_berhenti_kerja">Berhenti Kerja</label>
                                <div class="input-group date">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.tgl_berhenti, new { @class = "form-control form-control-sm", Name = "tgl_berhenti" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="usia">Masa Kerja</label>
                                @Html.TextBoxFor(m => m.masa_kerja, new { @class = "form-control form-control-sm", Name = "masa_kerja", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group">
                                <label for="kel_usia">Kelompok Masa Kerja</label>
                                <select class="form-control form-control-sm select2" name="kelompok_masa_kerja">
                                    <option value="-1">Pilih</option>
                                    <option value="1">21-25 Years</option>
                                    <option value="2">26-30 Years</option>
                                    <option value="3">31-35 Years</option>
                                    <option value="4">36-40 Years</option>
                                    <option value="5">41-45 Years</option>
                                    <option value="6">46-50 Years</option>
                                    <option value="7">51-55 Years</option>
                                    <option value="8">56 Years<</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="masuk_kerja">Masa Kerja</label>
                                @Html.TextBoxFor(m => m.masa_kerja, new { @class = "form-control form-control-sm", Name = "masa_kerja" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="no_rek_mandiri">No Rekening Mandiri</label>
                                @Html.TextBoxFor(m => m.no_rek, new { @class = "form-control form-control-sm", Name = "no_rek" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="no_rek_bni">No Rekening BNI</label>
                                @Html.TextBoxFor(m => m.no_rek_bni, new { @class = "form-control form-control-sm", Name = "no_rek_bni" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-lg-6">
                            <div class="form-group ">
                                <label for="keterangan">Keterangan</label>
                                @Html.TextAreaFor(m => m.keterangan, new { @class = "form-control form-control-sm", @rows = "3", Name = "keterangan" })
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary">Save <i class="icon-paperplane ml-2"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
